.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body *, html * {
    box-sizing: border-box;
    line-height: 1.3;
}

.hometext {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.header-list {
    float: left;
}

.header-list li {
    float: left;
    padding: 20px;
}

.sub-menu {
    display: none;
}
